*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-color: #e8e6e3;
    --skills-progress-bar: 100%;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}

.dots-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.2rem;
}

.dot-item {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: var(--font-color);
    box-shadow: 0 0 0.2rem 0 var(--font-color);
    animation: loading 1.5s ease-in-out infinite;
}

.dot-item:nth-child(1) {
    animation-delay: -0.4s;
}

.dot-item:nth-child(2) {
    animation-delay: -0.2s;
}

@keyframes loading {
    0%, 100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.wrapper {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    height: 1em;
    margin: auto 0 auto 1em;
}

.progress-bar {
    width: 100%;
    height: 1em;
    border-radius: 50px;
    overflow: hidden;
    border: 2px solid var(--font-color);
    padding: 0.25em;
}

.progress {
    height: 100%;
    background-color: var(--font-color);
    border-radius: 10px;
    animation: animate 3s ease-in-out forwards;
}

#aside__skills li.aside-item:nth-child(1) .progress{
    --skills-progress-bar: 80%;
    animation: animate 3s ease-in-out forwards;
}

#aside__skills li.aside-item:nth-child(2) .progress{
    --skills-progress-bar: 50%;
    animation: animate 3s ease-in-out forwards;
}

#aside__skills li.aside-item:nth-child(3) .progress{
    --skills-progress-bar: 30%;
    animation: animate 3s ease-in-out forwards;
}

#aside__skills li.aside-item:nth-child(4) .progress{
    --skills-progress-bar: 20%;
    animation: animate 3s ease-in-out forwards;
}

#aside__languages li:nth-child(1) .progress {
    --skills-progress-bar: 100%;
    animation: animate 3s ease-in-out forwards;
}

#aside__languages li:nth-child(2) .progress {
    --skills-progress-bar: 75%;
    animation: animate 3s ease-in-out forwards;
}

@keyframes animate {
    0% {
        width: 0;
    }
    100% {
        width: var(--skills-progress-bar);
    }
}
/* Styles*/

/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 200 to 1000 */

/* @font-face {
    src: inherit;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
} */

@media only screen and (max-width: 1199px) {
    html {
        font-size: 0.8em;
        color: black;
    }
    .aside {
        width: 15vw;
    }

    .bg-image {
        background-size: cover;
        background-position: 25% 0%;
    }
}

@media only screen and (min-width: 1200px) {
    html {
        font-size: 1em;
    }
    .aside {
        width: 30vw;
    }
    .bg-image {
        background-size: 100%;
    }
}


html {
    color: #e8e6e3;
}

.header {
    position: fixed;
    top: 0px;
    left: 28px;
    right: 28px;
    z-index: 11;
    height: 2.5em;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#main-navigation {
    border-bottom: 1px solid rgba(245, 238, 230, .5);
}

.header__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0 1.5rem 0;
    position: relative;
}

.nav__list {
    display: flex;
    margin: 0;
    padding: 0;
}

.header__logo {
    margin-left: 2em;
}

.nav__item {
    font-size: 1.3em;
}

.scroller {
    position: absolute;
    top: 0;
    left: -28px;
    bottom: 0;
    right: -28px;
    height: calc(4.75em + 1px);
    backdrop-filter: blur(6px);
    opacity: 0;
    z-index: -1;
}

body {
    background-color: #212121;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

header ul li {
    display: inline-block;
    margin-left: .5rem;
    position: relative;
}

.h4 {
    font-family: "Nunito", sans-serif;
    font-size: 2rem;
}

.h5 {
    font-family: "Nunito", sans-serif;
    font-size: 1.5rem;
}

.h6 {
    font-family: "Nunito", sans-serif;
    font-size: 1.2rem;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--font-color);
}

.main {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    /* background-image: url(../pictures/BG/BG.jpg);
    background-repeat: no-repeat;
    background-size: contain; */
    background-color: #3b3b3b; 
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100vw;
    /* min-height: 100vh; */
    background-image: url(../pictures/BG/BG.jpg);
    background-repeat: no-repeat;
    /* background-size: contain; */
    /* background-color: #3b3b3b; */
    /* box-shadow: 0 -200px 10px 5px #ffffff inset; */
}

.bg-color {
    --top-margin: calc(100vw * 0.5635);
    position: absolute;
    top: var(--top-margin);
    /* top: 100vw; */
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    min-height: 100vh;
    background-color: #3b3b3b;
    box-shadow: 0 0 10px 15px #3b3b3b;
}

#container__main {
    z-index: 5;
    padding: 5em;
    color: red;
}

.aside {
    z-index: 6;
    background-color: transparent; /* #1d5fe3; */
    color: var(--font-color);
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* padding: 0 2em; */
    width: 27vw;
    max-width: 30vw;
    min-width: 270px;
    backdrop-filter: blur(2px);
}

.aside__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#aside-basic-info {
    padding: 8em 0 0 0;
    display: block;
}

#aside-basic-info div {
    text-align: center;
}

#aside__avatar img {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.section__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hline {
    border-top: 0.3em solid var(--font-color);
    width: 100%;
    margin: 0 0.5em 0.15em 0;
    border-radius: 50px;
}

.section__header-title {
    /* position: relative; */
    /* top: -17px;
    right: 10px; */
    margin: auto 0 0.1em auto;
    /* width: 40%; */
    text-align: right;
    font-size: 1.5em;
    font-weight: 700;
}

.aside__inner ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bold-title {
    font-weight: 600;
}

.aside__icon {
    height: 1em;
    padding-right: 0.3em;
    filter: invert(98%) sepia(4%) saturate(136%) hue-rotate(356deg) brightness(95%) contrast(93%);
    /*https://codepen.io/sosuke/pen/Pjoqqp*/
}

.aside__section {
    margin: 2em 2em 0 2em;
}


.aside__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

#skills-list li, #languages-list li {
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 0;
}

#aside__skills, #aside__contacts, #aside__languages {
    width: 70%;
}